body {
	background: #F6F6F6;
}
.content .jieshao {
	width: 904px;
	height: 134px;
	border: 1px solid #D0DFE9;
	box-shadow: 0 0 8px #F3F4F5;
	margin: 33px 0 15px 27px;
	background: #FFFFFF;
}
.jieshao p {
	margin-left: 17px;
	font-size: 12px;
}
.jieshao .p1 {
	margin-top: 16px;
	margin-bottom: 27px;
}
.p1 span {
	color: #0D89E9;
}
.jieshao .p2 {
	margin-bottom: 8px;
}
.jieshao .p3 {
	line-height: 22px;
}
em{
	color: #666666;
}
.button a{
	color: #FFF;
	font-size: 16px;
	background: #4AA1EC;
	width: 907px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	margin-left: 27px;
	border-radius: 6px;
	margin-bottom: 485px;
}