body {
	background: #FFF;
}
strong {
	font-weight: normal;
}
.content .biaoti {
	margin-top: 25px;
	margin-left: 3px;
	background: #F6F6F6;
	width: 951px;
	height: 54px;
}
.content .biaoti h1 {
	font-size: 30px;
	color: #333333;
	font-family: 微软雅黑;
	text-align: center;
	line-height: 48px;
	border-bottom: 1px solid #CCCCCC;
}
.tabss {
	height: 33px;
	margin-top: 25px;
}
.tabss li {
	width: 241px;
	height: 31px;
	border: 1px solid #4FACF6;
	color: #37A5FA;
	text-align: center;
	line-height: 32px;
	float: left;
	margin-right: 7px;
	font-size: 16px;
	cursor: pointer;
}
.tabss .active {
	border-color: #FF9C71;
}
.anniu {
	margin-top: 14px;
}
.anniu a {
	width: 67px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #FFF;
	background: #06B0FF;
	display: inline-block;
	border-radius: 5px;
}
.anniu .one_a {
	margin-left: 4px;
}
table tr {
	height: 30px;
	border: 1px solid #D4D4D4;
}
table {
	width: 950px;
	height: 158px;
	margin-top: 28px;
	margin-bottom: 390px;
	border-collapse: collapse;
}
th,td {
	text-align: left;
}
.tr1 {
	background: url('../images/trbj.png') repeat-x;
}
.tr3 td {
	text-align: center;
}
.td1 {
	padding-left: 14px;
}
.ww1 {
	width: 89px;
}
.ww2 {
	width: 82px;
}
.ww3 {
	width: 69px;
}
.ww4 {
	width: 81px;
}
.ww5 {
	width: 94px;
}
.ww6 {
	width: 74px;
}
.ww7 {
	width: 102px;
}
.ww8 {
	width: 157px;
}
.ww9 {
	width: 150px;
}
.ww10 {
	width: 36px;
	text-align: right;
	padding-right: 11px;
}
.tabss_content table {
	display: none;
}
.tabss_content .show {
	display: block;
}
